body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: azure;
}

#guestbook-form {
    width: 500px;
    margin: 0 auto;
}

nav {
    width: 100px;
    padding: 5px;
    background-color: #b2e7ff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
